/* SCREEN +480px height (SMALL HANDHELD PORTRAIT)
   ========================================================================== */
@media only screen and (min-height: 30rem) {



} /*MEDIA
 ========================================================================== */





/* SCREEN +480px width (SMALL HANDHELD LANDSCAPE)
   ========================================================================== */
@media only screen and (min-width: 30rem) {



} /*MEDIA
 ========================================================================== */





/* SCREEN +656px width / +1024px height (TABLET PORTRAIT)
   ========================================================================== */
@media only screen and (min-width: 41rem) and (min-height: 64rem) {
	/*#footer span{
		font-size: 10px !important;
	}*/
	/*.container-promo{
		padding-top: 50%;
		padding-top: ;
	}*/
	/*.mg{
		margin-top: 10%;
	}*/


} /*MEDIA
 ========================================================================== */




/* SCREEN +1024px width / +656px height (TABLET LANDSCAPE)
   ========================================================================== */
@media only screen and (min-width: 64rem) and (min-height: 41rem) {
	/*.container-promo{
		padding-top: 15%;
	}*/

	


} /*MEDIA
 ========================================================================== */


















/* SCREEN +1280px width (13'+ DESKTOP)
   ========================================================================== */
@media only screen and (min-width: 80rem) {

/* GENERAL 
* --------------------------------------- */


/* LAYOUT 
* --------------------------------------- */


/* EXTERNAL
* --------------------------------------- */

} /*MEDIA
 ========================================================================== */
 
